<div class="catagory-card">
  <div class="cat-text">
    <p class="cat-title tran-title">Transaction Name: <%= entity.name %></p>
    <p class="created tran-amount">Transaction Amount: <%= entity.amount %>$</p>
  </div>
</div>
