<div class="asd">
  <%= form_with model: @entities, url: group_entities_path, method: :post, data: { turbo: false } do |f| %>
    <div class="field">
        <%= f.text_field :name, autofocus: true, class: "input", placeholder: "Transction Name" %>
    </div>
    <div class="field">
      <%= f.text_field :amount, autofocus: true, class: "input", placeholder: "Amount in numbers" %>
    </div>

    <div class="actions">
      <%= f.submit "SAVE" , class: "input" %>
    </div>
  <% end %>
   <a href="/groups">
        <span class="material-symbols-outlined">
          back
          </span>
  </a>
