 <%= form_with model: @group do |f|%>

  <div class="field">
    <%= f.text_field :name, autofocus: true,placeholder: 'Catagory name', class:"input" %>
  </div>

  <div class="field">
    <%= f.text_field :icon, placeholder: 'Icon' ,class:"input" %>
  </div>


  <div class="actions"><%= f.submit "Save", class:"sign-btn" %></div>

  <% end %>
  <br />
