<p style="color: green"><%= notice %></p>
<div class="log-page-nav">
  <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "back"%> 
  <p class="reg-title">Catagories</p>
</div>
<div id="groups" class="groups">
  <% @groups.each do |group| %> <%= render group %> <% end %>
</div>

<%= link_to "add a new category", new_group_path, class: "sign-btn add-btn" %>
