<%
=begin%>
 <section class="menu hidden">
      <div class="close-btn-wrapper">
        <button class="close-btn">
          <img src="./imgs/close-button.svg" alt="close button" />
        </button>
      </div>
      <div class="links-con">
        <ul>
          <li><a href="#portoflio">Portoflio</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </section>

    <!-- Toolbar start -->
    <header class="header">
      <div class="header-container container">
        <div class="name">Mohammed Raad</div>
        <div class="links">
          <ul>
            <li><a href="#portoflio">Portoflio</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li>
              <a href="#"><img src="imgs/Icon-Mail.png" alt="Mail-Icon" /></a>
            </li>
          </ul>
          <span class="icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
      </div>
    </header> 
<%
=end%>